@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500&display=swap);

:root {
  --font-texto: 'Roboto', sans-serif;
  --font-titulo: 'Poppins', sans-serif;
  --white: #ffff;
  --titulo: #e76d86;
  --texto: #000000db;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff2e656;
}

.header {
  height: 30px;
}

.page {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.page.active {
  display: flex;
}

.hidden {
  display: none;
}

.logo {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px;
}

.banner {
  padding-top: 15px;
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.content {
  text-align: center;
  margin: 0;
  padding: 0;
}

.content_sugestoes {
  text-align: center;
}

.sugestoes {
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background-color:var(--white)
}

h1,
h2,
h3 {
  color: var(--titulo);
  margin-bottom: 15px;
  font-family: var(--font-titulo);
}

p {
  color: var(--texto);
  font-family: var(--font-texto);
  margin-top: 0;
}

.location-info {
  text-align: center;
}


.carrossel {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.fotos {
  display: flex;
  transition: transform 0.5s ease;
}

.foto {
  border-radius: 8px;
  width: 100%;   /* Faz cada foto ocupar toda a largura do contêiner */
  height: auto;
  flex-shrink: 0; /* Impede que as imagens encolham */
}

@media (max-width: 600px) {
  .carrossel {
    width: 100%;
  }
}

.btn {
  font-family: var(--font-titulo);
  font-weight: 500;
  margin-top: 20px;
  padding: 10px 20px;
  background:var(--titulo);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background: var(--titulo);
}

ul li p {
  margin-bottom: 35px;
  font-family: var(--font-titulo);
  font-weight: 500;
  color: var(--titulo);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}